 
body {
    background-color: #2D232E; /* Use your desired background color */
  }
 
 
 /* Navigation bar color and spacing */
  .bg-orange {
    background-color: #F79D65 !important;
  }
  .bg-red {
    background-color: red !important;
  }
  .bg-green {
    background-color: green;
  }
 
 
  /* Adjust the logo size and spacing */
  .navbar-brand img {
    width: 80px; /* Adjust the width to make the logo smaller */
    margin-right: 10px; /* Adjust the margin to control how much it hangs off */
  }

  /* Spacing between the navigation bar and the cards */
  .library-container {
    margin-top: 20px; /* Adjust the margin-top value to control the spacing */
  }
  
/*Buttons*/
.btn {
  background-color: #534b52; /* Change this to your desired button color */
  border-color: #e0ddef; /* Change this to match the button color */
  color: #fff; /* Text color */
}

#back-to-top-button {
  display: none; /* Hide the button by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}


/*button hover states*/
.btn:hover {
    background-color: #F25C54; /* Change this color to your desired hover color */
  }

.custom-signup-btn {
    background-color: #534b52; /* Change this to your desired color */
    border-color: #e0ddef; /* Change this to match the background color */
    color: #fff; /* Text color */
  }

.custom-signup-btn:hover {
  background-color: #ff6600; /* Change this to the hover color you want */
  border-color: #ff6600; /* Change this to match the hover background color */
  color: #fff; /* Text color on hover */
}

.CardContainer
{
    width: 15%;
    height: 100%;
}

.cardContainer h2
{
    width: 50px;
    float: left;
    padding-left: 15px;
}

.row
{
    padding-top: 50px;
    float: left;
    width: 100%;
}

.row img
{
    float: left;
    padding-top: 9px;
}


.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}


.card {
    width: 21rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #E0DDCF;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-weight: bold;
    margin-top: 10px;
}

.card-text {
    margin-top: 10px;
}
